

{% for post in paginator.posts %}
{% if post.publish %}
<div class="post-preview">
    {% if post.blog %} <a href="{{ post.url | prepend: site.baseurl }}"> {% endif %}
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <hr>
     {% if post.blog %} </a> 
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p> 
    {% else %}
    {{ post.content }}
    {% endif %}
    
</div>
<br/>
{% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}





<!-- <ul class="pgwSlider">
    <li><img src="img/banner-gesture.jpg" alt=""></li>
    <li><img src="img/banner_chalearn.png" alt=""></li>
    <li><img src="img/2dconv.png" style="height:20px" alt=""></li>
</ul> -->


