<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card" onclick="location.href='{{ item.url }}';" style="cursor:pointer;">
      {% if item.thumbnail %}
      <img src="/assets/images/{{item.thumbnail}}"></img>
      {% endif %}
      {% if item.video %}
      <video loop autoplay muted
      {% if item.video-speed %}
      onloadstart="this.playbackRate = {{item.video-speed}};"
      {% endif %}
      >
        <source src="/assets/images/{{item.video}}"  type="video/mp4">
      </video>
      {% endif %}
      <div class="header-wrap">
        <div class="header">
          {{ item.title }}
          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </div>
      </div>
    </li>

  {% endfor %}
</ul>
