<figure class="image">
    <a href="{{ include.url }}">
        <img src="{{ include.url }}" 
            {% if include.caption %}
                alt="{{ include.caption }}"
            {% endif %}
            style="
            {% if include.height %}
                height:{{include.height}};
            {% endif %}
            {% if include.cover == true %}
                object-fit:cover;
            {% endif %}
            "
        >
    </a>
    {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
</figure>